<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Smart Parking Dashboard</title>
  <img id="camImage" src="http://10.167.37.189:5000/latest-image" width="400">

  <link rel="stylesheet" href="style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header>
    <h1>🚗 Smart Parking Dashboard</h1>
    <nav>
      <a href="index.html">Dashboard</a>
      <a href="history.html">History</a>
      <a href="about.html">About</a>
    </nav>
  </header>

  <div id="spinner" class="loading-spinner"></div>

  <div class="container" id="gallery" style="display:none;"></div>
  <!-- LIVE ESP32 CAMERA IMAGE -->
<div class="camera-box" style="text-align:center; margin-top:20px;">
    <h2>Latest Captured Image</h2>
    <img id="liveImage"
         src="http://10.167.37.189:5000/latest-image"
         style="width:60%; border:2px solid black; border-radius:10px;">
</div>

<script>
    // Auto-refresh image every 3 seconds so you always see new uploads
    setInterval(() => {
        const img = document.getElementById("liveImage");
        img.src = "http://10.167.37.189:5000/latest-image?time=" + new Date().getTime();
    }, 3000);
</script>


  <div class="chart-container" data-aos="fade-up">
    <canvas id="violationChart"></canvas>
  </div>

  <footer>
    © 2025 Smart Parking System | Designed by Krupa Yadwad
  </footer>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="script.js"></script>
</body>
</html>
